* {
    margin: 0;
    border: 0;
    padding: 0;
}
@font-face {
    font-family: "lexend";
    src: url(font/Lexend-VariableFont_wght.ttf);
}
header {
    background-image: url(imagens/Black\ friday\ eletrônicos\ fotográfico\ azul\ preto\ banner\ para\ site\ \(3\).gif);
    height: 2000px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.logo {
    font-family: "lexend";
    font-size: 200px;
    font-weight: 500;
    margin-top: 900px;
}

.slogan {
    font-family: "lexend";
    font-size: 50px;
}

.nossoProcesso {
    background-color: #050505;
}

.processo img{
    width: 700px;
}

.processo {
    width: 700px;
    background-color: white;
    border-radius: 20px;
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content:center ;
    padding: 70px 0px;
}

.titulo {
    font-family: "lexend";
    font-size: 60px;
    color: white;
    padding: 100px;
    font-weight: 500;
    margin-top: 60px;
}

.texto {
    font-family: "lexend";
    font-size: 40px;
    padding: 5px 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sobreNos  .titulo{
    color: black;
}

.sobreNos {
    margin: 0 100px;
}

h3 {
    font-family: "lexend";
    font-size: 30px;
    color: #0c0c0c;
}

footer {
    background-color: #030303;
    padding-bottom: 70px;
}

.contato {
    font-family: "lexend";
    color: white;
    padding: 0 100px;
    font-size: 36px;
}
section {
    background-color: rgba(1, 103, 187, 0.555);
}
